body {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(6, 19, 95, 1), rgb(18, 53, 250));
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: rgba(7, 16, 83, 1);
    margin-top: auto;
}

.navbar {
    background-color: #100340;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content {
    padding-top: 80px;
    flex: 1;
}

.tagline {
    font-weight: bold;
    font-size: 3rem;
}

.description {
    font-size: large;
}

.card {
    background: linear-gradient(to bottom, rgba(71, 87, 178, 1), rgba(42, 64, 188, 1));
}

.card-text {
    color: rgba(202, 207, 225, 255);
}